body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  .app {
    background-color: #141414;
    color: white;
  }
  
  .navbar {
    padding: 20px;
  }
  
  .netflix-logo {
    width: 150px;
  }
  
  .main-content {
    padding: 140px;
    text-align: center;
  }
  
  .main-content h1 {
    font-size: 3em;
  }
  
  .email-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .email-field {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    font-size: 1em;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #e50914;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .footer {
    background-color: #141414;
    color: #8c8c8c;
    padding: 20px;
    text-align: center;
  }
  
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .footer-links span {
    margin: 5px;
    cursor: pointer;
  }