 body {
    margin: 0;
    padding: 0;
    background: #141414;
    font-family: 'Arial', sans-serif;
    color: white;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .login-container h1 {
    color:#e50914;
  }
  
  .login-form {
    background: #333;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #888;
    border-radius: 4px;
  }
  
  button {
    background: #e50914;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 108%;
  }
  
  button:hover {
    background: #e50914;
  }

  .login-form a {
    color: white;
    text-decoration: none;
  }
  