body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app {
  background-color: #141414;
  color: white;
}

.main-content {
  padding: 140px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.displayMedia {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

ul {
  list-style: none;
  display: flex;
}

ul a {
  text-decoration: none;
  color: rgba(9, 157, 243, 0.7);
  font-weight: bold;
}